<!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <title>Хүүхдийн Тоглоом</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>🎉 Хүүхдийн Тоглоом 🎉</h1>
    <p>Тоглоом сонгоод тоглоорой!</p>
    <ul>
        <li><a href="/guess_number">1. Санасан тоог таах</a></li>
        <li><a href="/rock_paper_scissors">2. Хайч, Чулуу, Даавуу</a></li>
        <li><a href="/picture_guess">3. Зураг таах</a></li>
        <li><a href="/fibonacci_guess">4. Фибоначчигийн таавар</a></li>
        <li><a href="/jenga">5. Төөрдөг байшин</a></li>
    </ul>
</body>
</html>